[Unit]
Description=Immich mergerfs pool
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 25
ExecStart=/home/immich/mount-pool.sh
ExecStartPost=/bin/bash -c 'cd /home/immich/immich && docker compose up -d'
ExecStop=/bin/umount /mnt/immich-pool
User=root

[Install]
WantedBy=multi-user.target
